@using BookStoreApp.Models.User

<h3>Registration</h3>

    <EditForm Model="RegistrationModel" OnValidSubmit="HandleRegistration">

    </EditForm>

@code {
    UserDto RegistrationModel = new UserDto();

    public void HandleRegistration()
    {
        
    }
}
